In [28]:
import pandas as pd
import os

In [29]:
filename = os.path.join('Resources', 'cities.csv')

df = pd.read_csv(filename, encoding='ISO-8859-1')

df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [30]:
pd.set_option('colheader_justify', 'center')    

html_string = '''
<html>

<head>
<meta charset="UTF-8">
<title> Ashok HTML City Table Page </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="styles.css">
</head>

<body>
    <main class="container">    
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <li> <a class="navbar-link" href="https://ashok-k-singh.github.io">Home</a> </li>                     
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Plots
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <a class="dropdown-item" href="https://ashok-k-singh.github.io/Temperature">Max Temperature</a>
                            <a class="dropdown-item" href="https://ashok-k-singh.github.io/Humidity">Humidity</a>
                            <a class="dropdown-item" href="https://ashok-k-singh.github.io/Cloudiness">Cloudiness</a>
                            <a class="dropdown-item" href="https://ashok-k-singh.github.io/Windspeed">Wind Speed</a>
                        </div>
                    </li>

                    <li> <a class="nav-link" href="https://ashok-k-singh.github.io/Webcomparison" > Comparison </a> </li>      
                    <li> <a class="nav-link" href="https://ashok-k-singh.github.io/Webcities" > Data </a> </li>  

                </ul>
            </div>
        </nav>   

        <br>
        <h4>City Latitude Data </h4>
        <br>                    
        <h6> The following table includes all the data used for plotting during the project </h6> 
        <br>   
    
        {table}
    </main>

  </body>
</html>.
'''


# OUTPUT AN HTML FILE
with open('index.html', 'w') as f:
    f.write(html_string.format(table=df.to_html(header=True, index=False, classes='mystyle')))